---
import LandingHeader from "../Components/LandingHeader.astro";
import MainSection from "../Components/MainSection.astro";
import ModelY from "../Components/ModelY.astro";
---

<html>
  <head>
    <title>Tesla WebPage</title>
  </head>
  <LandingHeader />
  <main class="snap-y snap-mandatory w-full h-screen relative overflow-auto">
    <div class="snap-center">
      <MainSection />
    </div>
    <div class="snap-center">
      <ModelY />
    </div>
    <div class="snap-center">
      <MainSection />
    </div>
    <div class="snap-center">
      <ModelY />
    </div>
    <div class="snap-center">
      <ModelY />
    </div>
    <div class="snap-center">
      <ModelY />
    </div>
  </main>

  <style is:global>
    #font-face {
      font-family: "Sans-serif";
    }
  </style>


</html>
