<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="white"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-40 text-5xl font-medium">Disfrute de tesla</h2>
      <p class="text-white text-base">Programe una prueba hoy mismo</p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-24">
      <div class="gap-x-4 flex mx-auto">
        <a
          class="text-white border-2 border-white text-5m rounded font-medium px-10 py-2 inline-block hover:bg-white hover:text-black transition-colors"
          href="#"
          >Prueba de conduccion
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-screen w-full z-10">
    <video
      class="object-center object-cover h-full w-screen"
      autoplay
      muted
      loop
      src="Demo-Drive-Tesla.webm"></video>
  </div>
</section>
