<section
  class="landing-section bg-black h-screen w-screen text-center overflow-hidden relative"
  data-header-color="Black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="pt-20 text-5xl font-medium">Model Y</h2>
      <p class="text-base text-wrap underline">Prueba de Conduccion</p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-10">
      <div class="gap-x-4 flex mx-auto">
        <a
          class="pading-center text-white border-slate-900 bg-slate-900 text-5m rounded font-medium px-12 py-2 inline-block
           hover:bg-slate-600 hover:border-slate-600 hover:text-white transition-colors"
          href="#"
          >Encargo
        </a>
        <a
          class="text-black border-white bg-slate-200 text-5m rounded font-medium px-12 py-2 inline-block
           hover:bg-white hover:text-black transition-colors"
          href="#"
          >Prueba de Conduccion
        </a>
      </div>
      <div class="py-5">
        <a
          class="text-sm underline hover:text-black transition-opacity"
          href="#"
          >Disponible con Moves II
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="./Model-Y.avif"
      alt="Model Y"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
